body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 480px;
    background-color: #101f2f;
}

.block {
    width: 40px;
    height: 40px;
}


/* your code here */

.row {
    display: flex;
}

.row:nth-child(1) .block {
    background-color: #05b37b;
}

.row:last-child .block {
    background-color: #05b37b;
}

.row .block:first-child, .row .block:last-child  {
    background-color: #05b37b;
}


.block.wall {
    background-color: #05b37b;
}
